@import url(http://fonts.googleapis.com/css?family=Nunito:300);
@font-face{
	font-family: "AvenirLOL";
	src:url("/stayconnected/resources/avenir.ttf");
}
@font-face{
	font-family: "AvenirExt";
	src:url("http://www.goreschak.com/res/lbres/avenir.ttf");
}
html, section, footer {
	background-color: #D9C1F3;
	font-family: "AvenirExt", Nunito, Verdana;
}

header {
	background-color: #ECE0F9;
	height: 60px;
	left: 0;
	position: fixed;
	width: 100%;
	top: 0;
	padding: 3px;
	box-shadow: 1px 1px 1px #000000;
}

img.alt-logo {
	margin-left: auto;
	margin-right: auto;
}

img.header_box {
	position: relative;
	float: right;
	top: 9;
}

nav {
	background-color: #ECE0F9;
	position: fixed;
	line-height: 30px;
	width: 183px;
	float: left;
	padding: 55px 0px;
	box-shadow: 1px 1px 1px #000000;
}

section {
	padding: 55px 30px;
	overflow-y: scroll;
}

footer {
	background-color: #ECE0F9;
	bottom: 0;
	height: 50px;
	left: 0;
	position: fixed;
	width: 100%;
	text-align: center;
}

.error {
	color: #ff0000;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 2px solid #ff0000;
	padding: 4px;
	margin: 8px;
}

/* 
#menu { 
	left: 100px;
}

#menu ul {
	list-style: none; 
}

#menu ul li {
	display: inline;
	float: left;
	margin-bottom: 10px; 
}

#menu ul li a { 
	padding: 7px 30px;
	background: #ECE0F9; 
	font-size: 16pt;
	text-decoration: none;  
	color: #000000;
    text-shadow: #eee 0px 0px 2px; 
}
*/

ul {
	list-style: none; 
	padding: 0px 0px 0px 0px; 
}

ul li {
	display: block;
	position: relative;
	float: left;
	border-right: 1px solid #000;
}
 
 li ul {
 	display: none;
 }
 
ul li a {
	display: block;
	background: #ECE0F9;
	padding: 0px 16px 0px 16px;
	text-decoration: none;
	font-size: 22px;
    white-space: nowrap;
    color: #000;
}

ul ul li a {
	display: block;
	background: #ECE0F9;
	padding: 5px 23px 5px 23px;
	text-decoration: none;
	font-size: 16px;
    white-space: nowrap;
    color: #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
 
ul li a:hover {
	background: #D9C1F3;
}
li:hover ul {
	display: block; position: absolute;
}
li:hover li {
	float: none;
}
li:hover a {
	background: #ECE0F9;
}
li:hover li a:hover {
	background: #D9C1F3;
}
#drop-nav li ul li {
	border-top: 0px;
}

#search {
	padding: 20px 10px 0px 10px;
}


