html, section, footer {
	background-color: #D9C1F3;
	font-family: Avenir;
}

header {
	background-color: #ECE0F9;
	height: 60px;
	left: 0;
	position: fixed;
	width: 100%;
	top: 0;
	padding: 3px;
	box-shadow: 1px 1px 1px #000000;
}

img.alt-logo {
	margin-left: auto;
	margin-right: auto;
}

img.log_out_box {
	margin-left: auto;
	margin-right: auto;
}

nav {
	background-color: #ECE0F9;
	position: fixed;
	line-height: 30px;
	width: 183px;
	float: left;
	padding: 60px 0px;
	box-shadow: 1px 1px 1px #000000;
}

section {
	padding: 80px 215;
	overflow-y: scroll;
}

footer {
	bottom: 0;
	height: 50px;
	left: 0;
	position: fixed;
	width: 100%;
	text-align: center;
	padding: 5px;
}

.error {
	color: #ff0000;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 2px solid #ff0000;
	padding: 4px;
	margin: 8px;
}