body {
	background-color: #D9C1F3;
	font-family: Avenir;
}

#floater {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%
}

.error {
	color: #ff0000;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 2px solid #ff0000;
	padding: 4px;
	margin: 8px;
}